/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("assets/download.jpeg");
}

/* ---------- HEADER ---------- */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 2%;
}

.logo {
  height: 120px;
  position: absolute;
  left: 96px;
}

.top-actions {
  display: flex;
  gap: 12px;
  position: absolute;
  right: 96px;
}

#language {
  background: #1f1f1f;
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
  height: 40px;
}

#SignInButton {
  background: rgba(255, 0, 0, 0.925);
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  border: none;
}

/* ---------- HERO SECTION ---------- */
.hero {
  text-align: center;
  padding: 15vh 20px 40px;
}

.tagline {
  font-size: clamp(28px, 6vw, 60px);
  font-weight: 900;
  margin-bottom: 16px;
  line-height: 60px;
  letter-spacing: 0;
}

.price {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 25px;
}

.subscription {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: lighter;
  letter-spacing: normal;
}

/* ---------- EMAIL INPUT ---------- */
.email-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  height: 55px;
}

.email-box input {
  flex: 1;
  padding: 14px;
  border-radius: 3px;
  border: none;
  background: #1f1f1f;
  color: white;
  font-size: 16px;
}

.email-box button {
  background: rgba(255, 0, 0, 0.889);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 3px;
  cursor: pointer;
}
/* ---------- BUTTON CLICK ANIMATION ---------- */
button {
  transition: transform 0.12s ease, box-shadow 0.12s ease;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

/* ---------- MOBILE FIX ---------- */
@media (max-width: 500px) {
  .tagline {
    line-height: 30px;
  }
  .email-box {
    margin-top: 30px;
  }
  .email-box {
    flex-direction: column;
  }

  .email-box button {
    width: 100%;
  }

  .logo {
    height: 60px;
    position: absolute;
    left: 1px;
  }
  .top-actions {
    position: absolute;
    right: 10px;
  }
  .email-box button {
    width: 150px;
    position: relative;
    margin: 0 auto;
  }
  .Sign-in-box {
    background: rgba(0, 0, 0, 0.5); /* black + transparency */
    min-height: 70vh;
    width: 3px;
    padding: 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: 0 auto;
  }
}

/*-------Sign Up Page--------*/

.Sign-in-box {
  background: rgba(0, 0, 0, 0.5); /* black + transparency */
  min-height: 70vh;
  width: 450px;
  padding: 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
  position: absolute;
  top: 100px;
  margin: 0 auto;
}
#email-input {
  border-radius: 4px;
  padding: 7px;
  height: 60px;
  width: 380px;
  background: rgba(0, 0, 0, 0);
  margin-top: 15px;
  border-style: ridge;
  font-size: larger;
}
#password-input {
  border-radius: 4px;
  padding: 7px;
  height: 60px;
  width: 380px;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  border-style: ridge;
  font-size: larger;
}

#Sign-In-button {
  border-radius: 4px;
  padding: 7px;
  height: 60px;
  width: 380px;
  background-color: red;
  font-weight: bolder;
  color: white;
  font-size: larger;
  margin-top: 15px;
  border-style: ridge;
  margin-bottom: 15px;
}
#Sign-in-code {
  border-radius: 4px;
  padding: 7px;
  height: 60px;
  width: 380px;
  background: rgba(22, 22, 22, 0.7);
  margin-top: 15px;
  border-style: ridge;
  color: rgba(255, 255, 255, 0.677);
  font-size: larger;
  margin-bottom: 15px;
}
#forgot-password {
  color: white;
}
#Remember-me {
  margin-top: 20px;
}
#Sign-Up-line {
  margin-top: 10px;
}
#security {
  margin-top: 40px;
}
#sign-up-link {
  color: white;
  font-size: large;
}
